.main-container {
    margin:auto;
    padding: 0px;
    background: url(image.jpg);
    position:inherit;
    background-size: cover;
    background-position: center;
    height: 90vh;
    bottom: 20px;
}

.main-info {
    display: flex;
    justify-content: center;
    background-color:grey;
    position: absolute;
    height: 40%;
    width: 60%;
    left: 15%;
    top: 60%;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}


.main-info h2
{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.main-info p 
{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}